{{ define "main" }}

	<section class="services">
		<div class="service">
			<div class="icon">💻</div>
			<h3>Tutorial</h3>
			<p>Blog ini sebagian besar bertema-kan IT, Linux, Server, Hacking, dan Programming</p>
		</div>
		<div class="service">
			<div class="icon">🔍</div>
			<h3>Searching</h3>
			<p>Untuk sistem pencariannya, kalian bisa menggunakan tombol kombinasi Ctrl+F</p>
		</div>
	</section>

	<section class="content">
 		<div class="service">
			<h2>Daftar Post</h2>
			<ul>    
				{{ range where .Site.RegularPages "Section" "posts" }}
				<li>   
					<a href="{{ .Permalink }}">{{ .Title }}</a>
					<span>[{{ .Date.Format "200621" }}]</span>
					<p>{{ or .Params.description .Summary }}</p>
				</li>
				{{ end }}
			</ul>
      
			<h2>Daftar Rekomendasi</h2>
			<ul>    
				{{ range where .Site.RegularPages "Section" "rekomendasi" }}
				<li>    
					<a href="{{ .Permalink }}">{{ .Title }}</a>
					<span>[{{ .Date.Format "200621" }}]</span>
					<p>{{ or .Params.description .Summary }}</p>
				</li>
				{{ end }}
			</ul>
		</div>
	</section>
{{ end }}
