<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lintas Catatan</title>
	<!-- Font Google  -->
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>

{{ if .Description }}
	<meta name="description" content="{{ .Description }}">
{{ else if eq .Kind "section" }}
	<meta name="description" content="{{ .Summary }}">
{{ else }}
	<meta name="description" content="{{ .Site.Params.Description }}">
{{ end }}
